/* 重置CSS */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 自定義CSS */
html{
    font-family: 'Source Sans Pro', 'Noto Sans TC', '微軟正黑體', 'PingFang TC',sans-serif;
    background: #bb2225;
    background-image: url(../image/2022newyear_bg-cover.png);
    background-size: 25px;
}


section{
    width: 100%;
    max-width: 420px;
    margin: auto;
    background-color: #fee8b8;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.3);
}

#header{
    background-image: url(../image/2022newyear_header.jpg);
    width: 100%;
    padding-bottom: 63.95%;
    background-size: cover;
}

.logo{
    background-image: url(../image/2022newyear_web-logo.png);
    width: 360px;
    height: 56px;
    background-size: cover;
    margin: 0;
    position: fixed;
    left: calc(50% - 180px);
}

#info{
    text-align: center;
    margin: 10px;
    padding: 10px;
    border: #bb2225 solid 3px;
    border-radius: 5px;
    line-height: 150%;
}

#make-card{
    text-align: center;
}

.login{
    margin: 10px;
    padding: 10px;
    border: #bb2225 solid 3px;
    border-radius: 5px;
}

.login .login-title{
    font-weight: bold;
    font-size: 110%;
    margin: 10px;
}

.line-login{
    display: inline-flex;
    background-color: #06c755;
    border-radius: 8.07px;
    align-items:center;
    margin: 10px;
    text-decoration:none;
    cursor: pointer;
}

.line-logo{
    width: 32px;
    height: 32px;
    background-image: url(../image/line_88.png);
    padding: 10px;
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
    border-right: 1px solid rgba(0,0,0,0.1);
}

.line-title{
    color: white;
    padding: 15px;
    font-weight: bold;
}

#notify{
    line-height: 115%;
    color: #333;
    padding-bottom: 20px;
}

#notify h4{
    font-size: 102%;
    font-weight: bold;
    text-align: center;
    margin: 5px;
}

#notify li{
    display: list-item;
    list-style-type: disc;
    font-size: 90%;
    margin: 5px 10px 5px 35px;
}

#notify a{
    color:#333;
    font-weight: bold;
}

footer{
    padding: 15px;
    background-color: #666;
    color: white;
    text-align: center;
    font-size: 80%;
    line-height: 170%;
}
